body{
  font-family: 'Syne', sans-serif; 
}
main {
  margin-top: 40px;
}

#content {
  display: none;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}
#the-canvas {
outline: black 3px solid;
}
.container {
--sidebar-width: 20px;
}

.main {
display: flex;
}

.sidebar {
position: fixed;
overflow-y: auto;
height: 100%;
width: var(--sidebar-width);
z-index: 1;
background-color: antiquewhite;
padding-left: 15px;
padding-right: 25px;

}

.content {
margin-left: var(--sidebar-width);
flex-grow: 1;
}
.link{
background-color: pink;
}